{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ publication.category.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {% for tag in publication.tags %}
                        <p>{{ tag.name }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('publications_edit_publication', { 'id': publication.id }) }}">
        Edit
    </a>
    {{ form(delete_form) }}

{% include "AcmePublicationBundle:Comment:_new.html.twig" with {'form':comment_form, 'publication':publication} %}

{% include "AcmePublicationBundle:Comment:_index.html.twig" with {'entities':publication.comments} %}

{% endblock %}
