<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@AcmePublicationBundle/Resources/public/bootstrap-3.2.0/css/bootstrap.css'
                '@AcmePublicationBundle/Resources/public/bootstrap-3.2.0/css/bootstrap-theme.css'
                '@AcmePublicationBundle/Resources/public/css/style.css'
                output='css/basic.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div class="container">
        <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('welcome') }}">Symfony 2 example app</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('publication') }}">Publications</a></li>
                <li><a href="{{ path('category') }}">Categories</a></li>
                <li><a href="{{ path('tag') }}">Tags</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('log') }}">Logs</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
              {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
        {% block body %}{% endblock %}
      </div>
      {% block javascripts %}{% endblock %}
    </body>
</html>
