{# _form.html.twig tag form view #}
{{ form_start(form) }}
{{ form_errors(form) }}

<div class="form-group">
    {{ form_row(form.name, {'attr': { 'class': 'form-control' } } ) }}
</div>

<div class="form-group">
    {{ form_row(form.submit, { 'label': 'Save', 'attr': { 'class': 'btn btn-default' } } ) }}
</div>

{{ form_end(form) }}